<div id="<%= dom_id event %>">
  <div>
    <strong>Title:</strong>
    <%= event.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= event.description %>
  </div>

  <div>
    <strong>Event date:</strong>
    <%= event.event_date %>
  </div>

</div>
