<% content_for :title, t("events.edit.title") %>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1><%= t("events.edit.title") %></h1>
    <%= render "form", event: @event %>
  </div>
</div>
